*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1{
    color: #444;
}
.side-menu{
    position: fixed;
    background: rgb(88, 86, 86);
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .Dashboard{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 19px;
    padding: 10px 40px;
    color: beige;
    align-items: center;
}
.side-menu li:hover{
   background: white;
   color: #444; 
}
.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: white;
}
.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display:contents;
    align-items:center ;
    justify-content: center;
}

.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;

}
.container .header .nav input[type =text]{
    border: none;
    background: white;
    padding: 10px;
    width: 50%;
}
